<div class="container">
    <div class="row">
        <div class="mx-auto col-10 mr-2 " >
            <div class="row">
                <div class="mx-auto">
                    <h2>Jak nas znależć: </h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2496.229423482737!2d22.56722121576125!3d51.27009587959683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472257533487c4e5%3A0x557650e8d1a9b118!2sBursaki%2012%2C%2020-150%20Lublin!5e0!3m2!1spl!2spl!4v1589966009417!5m2!1spl!2spl" width="600" height="450" frameborder="1" style="border:1px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="mx-auto">
                    <br>
                    <h2>Kontakt: </h2>
                    <h3><i class="fas fa-envelope"></i> biuro@piot&art.pl</h3>
                    <h3><i class="fas fa-phone-alt"></i> 700880774</h3>
                    <h3><i class="fas fa-map-marker-alt"></i> Bursaki 12, 21-150 Lublin</h3>
                </div>
            </div>
        </div>

    </div>
    <br>

</div>