<div class="container">
    <div class="row">
        <div class="mx-auto col-10 mr-2 " >
            <div class="row">
                <div class="mx-auto">
                    <h2>Jak nas znależć: </h2>
                    <img src="../img/mapa.png" class="img-fluid" width="500" height="300">
                </div>
                <div class="mx-auto">
                    <br>
                    <h2>Kontakt: </h2>
                    <h3><i class="fas fa-envelope"></i> biuro@piot&art.pl</h3>
                    <h3><i class="fas fa-phone-alt"></i> 700880774</h3>
                    <h3><i class="fas fa-map-marker-alt"></i> Bursaki 12, 21-150 Lublin</h3>
                </div>
            </div>
        </div>

    </div>
    <br>

</div>