<div class="container">
    <div class="row">
        <div class="mx-auto">
            <h2 ng-if="ctrl.order.id">Edycja zlecenia</h2>
            <h2 ng-if="!ctrl.order.id">Nowe zlecenie</h2>
        </div>
    </div>
    <div class="row" ng-if="ctrl.msg">
        <div class="mx-auto">
            <p class="text-danger">{{ctrl.msg}}</p>
        </div>
    </div>
    <div class="row">
        <form class="mx-auto col-10 col-md-6">
            <div class="form-group">
                <label for="carSelect">Samochód:</label>
                <select class="form-control" id="carSelect" ng-model="ctrl.order.car">
                    <option ng-repeat="car in ctrl.cars" ng-selected="car === ctrl.order.car">{{car.id}} {{car.producer}} {{car.model}} {{car.yearOfProduction}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="descriptionInput">Opis usterki lub zlecenia:</label>
                <textarea class="form-control" id="descriptionInput" rows="10"
                          placeholder="opis" ng-model="ctrl.order.description"></textarea>
            </div>
            <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary" ng-show="!ctrl.order.id"  ng-click="ctrl.saveOrder()">Dodaj</button>
                <button type="submit" class="btn btn-primary" ng-show="ctrl.order.id"  ng-click="ctrl.updateOrder()">Zapisz</button>
            </div>
        </form>
    </div>
</div>